#container{
    width: 400px;
    height: 400px;
    margin: 40px;
    border: 2px solid black;
    /* overflow-wrap: break-word; */
    /* background-image: linear-gradient(rgb(26, 207, 66)10%,cyan 30%,yellow 60%);
     */
     /* background-image: linear-gradient(rgb(26, 207, 66)100px,cyan 300px,yellow 400px); */
     /* we can specify -ve degree as well */
     /* background-image: linear-gradient(120deg,rgb(26, 207, 66)100px,cyan 300px,yellow 400px); */
     /* background: repeating-linear-gradient(to top right, yellow,green 10px); */
     /* background-image: linear-gradient(to right,rgb(26, 207, 66)100px,cyan 300px,yellow 400px); */
     background: radial-gradient(red,cyan,blue);
 }
 p:active{
     background-color: aqua;
 }
 a:active{
     color: red;
 }
 a:visited{
     color: green;
 }